#applied-main {

    margin-top: 15px;
    margin-bottom: 40px;
    /* display: grid; */
    place-items: center;
    min-height: 63.3vh;

}

/* Main contents */

#jobs-applied {

    width: 100%;
    height: fit-content;
    display: grid;
    place-items: center;

}

#jobs p {

    height: fit-content;
    width: fit-content;

}

#job-applied-listing {

    width: 60%;
    display: grid;
    row-gap: 13px;
    margin-top: 20px;

}

.applied-job-objects {

    height: fit-content;
    width: 100%;
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 8px;
    display: grid;
    place-items: center;
    padding: 13px 0px 13px 0px;


}

.applied-job-objects section {

    width: 95%;
    height: fit-content;
    display: grid;
    row-gap: 15px;
    /* background-color: yellow; */

}



#other-details { 

    display: flex;
    column-gap: 15px;

}

#other-details div , #date-save div { 
    
    display: flex; 
    column-gap: 4px;
    align-items: center;

}

#job-skills {

    display: flex;
    column-gap: 10px;
    margin-top: -13px;

}
#job-skills div { 
    
    display: flex;
    column-gap: 5px;

}
#job-skills p { font-size: 11px; }
.bx-wifi-0 { margin-top: -1px; }

#date-save {

    display: flex;
    justify-content: space-between;

}

#date-save div { 
    
    column-gap: 2px; 
    cursor: pointer;

}
#date-save i , #date-save p { cursor: pointer; }



#job-title { font-size: 15px; }
#company-name { font-size: 13.5px; }
.applied-grey { 
    
    color: grey; 
    font-size: 13px;

}


#no-jobs {

    display: grid;
    place-items: center;

}

/* Main contents */

@media (max-width : 767px) {

    #job-applied-listing { width: 88%; }
    .applied-job-objects section { row-gap: 11px; }
    #applied-job-title { font-size: 13.5px; }
    #applied-company-name , .applied-grey { font-size: 12px; }

}

@media (min-width : 768px) and (max-width : 991px) {

    #job-applied-listing { width: 75%; }
    .applied-job-objects section { row-gap: 13px; }
    #applied-job-title { font-size: 14px; }
    #applied-company-name , .applied-grey { font-size: 12.5px; }

}

@media (min-width : 992px) and (max-width : 1199px) {

    #job-applied-listing { width: 70%; }

}