#header { height: 60px; }

#menu-button , #close-button {

    position: absolute;
    top: 25px;
    right: 25px;
    width: 105px;
    height: 3rem;
    background: #0149AB;
    border: 0;
    color: white;
    border-radius: 4.5px;
    box-shadow: 0.8px 0.8px 0.5px 0.5px lightgrey;


}

#menu {  

    width: 100vw;
    height: 720px;
    background-color: rgba(255, 255, 255, 0.7);
    position: absolute;
    z-index: 2;
    display: grid;
    place-items: center;

}

#menu-options {

    width: 30%;
    height: fit-content;

}

.menu-divs {

    display: flex;
    justify-content: center;
    column-gap: 10px;
    margin: 10px;

}

.menu-divs button {

    width: 150px;
    height: 3rem;
    background: #0149AB;
    color: white;
    border: 0;
    border-radius: 4.5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0.8px 0.8px 0.5px 0.5px lightgrey;

        
}

.menu-divs button:hover {

    background: white;
    color: #0149AB ;
    transition: 0.3s;
    cursor: pointer;
    box-shadow: 0px 0px 10px -7px rgba(0, 0, 0, 0.75); /* Adjust the shadow color and other parameters as needed */

}

.menu-divs button:not(:hover) { transition: 0.2s; }

@media (max-width : 767px) {

    #menu { height: 631px; }

    #menu-button , #close-button {

        width: 70px;
        height: 2.5rem;
        font-size: 12px;

    }

    #menu-options { 
        
        display: grid; 
        justify-content: center;
    
    }

    .menu-divs button {

        margin-top: -10px; 
        width: 85px;
        font-size: 11.5px;

    }

}

@media (min-width : 768px) and (max-width : 991px) {

    #menu-options { 
        
        display: grid; 
        justify-content: center;
    
    }

    .menu-divs button {

        margin-top: -10px; 
        width:100px;
        font-size: 12px;

    }

}