#header { height: 60px; }

#menu-button , #close-button {

    position: absolute;
    top: 25px;
    right: 25px;
    width: 105px;
    height: 3rem;
    background: #0149AB;
    border: 0;
    color: white;
    border-radius: 4.5px;
    box-shadow: 0.8px 0.8px 0.5px 0.5px lightgrey;
    cursor: pointer;


}

#menu {  

    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.7);
    position: absolute;
    z-index: 2;
    display: grid;
    place-items: center;

}

#menu-options {

    width: 30%;
    height: fit-content;

}

.menu-divs {

    display: flex;
    justify-content: center;
    column-gap: 10px;
    margin: 10px;

}

.menu-divs button {

    width: 150px;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 2px;
    background-color: #0149AB;
    border: solid 2px #0149AB;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    /* font-family: Poppins; */
    font-size: 12.5px;
    transition: 0.3s;
  
}

.menu-divs button:hover {

    border: solid 2px #0149AB;
    background-color: #0090ff69;
    color: #0149AB;

}

i { font-size: 13px; }

@media (max-width : 767px) {

    #menu { height: 631px; }

    #menu-button , #close-button {

        width: 70px;
        height: 2.5rem;
        font-size: 12px;

    }

    #menu-options { 
        
        display: grid; 
        justify-content: center;
    
    }

    .menu-divs button {

        margin-top: -10px; 
        width: 85px;
        font-size: 11.5px;

    }

}

@media (min-width : 768px) and (max-width : 991px) {

    #menu-options { 
        
        display: grid; 
        justify-content: center;
    
    }

    .menu-divs button {

        margin-top: -10px; 
        width:100px;
        font-size: 12px;

    }

}