*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
}

.form-div{
    background-color: rgb(255, 255, 255);
    width: 70%;
    margin: 45px auto 65px auto;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 15px;
    padding: 8px;
}

.form-div h1{
    padding: 20px 20px 0 20px;
    text-align: center;
    font-weight: 500;
    color: #0e47a1;
}

.form-div .jobForm , #upper-section{
    padding: 10px 20px 20px 20px;
    display: grid;
    column-gap: 25px;
}
.jobForm .side{
    width: 100%;
}

#upper-section { display: flex; }


.form-div .jobForm label{
    font-weight: 500;
    font-size: 18px;
    color: #0e47a1;
}

.jobForm input , .jobForm select{
    width: -webkit-fill-available;
    padding: 8px 6px;
    border: 2px solid;
    color: #747474;
    border-radius: 20px;
    margin-bottom: 15px;
    outline: none;
    padding-left: 15px;
}

#lower-section {

    display: grid;
    place-items: center;

}

.jobForm textarea , .textAreaDiv , .textAreaInput{
    width: 92.5%;
    padding: 6px;
    border: 2px solid;
    color: #747474;
    border-radius: 20px;
    margin-bottom: 15px;
    resize: none;
    outline: none;
    padding-left: 15px;
}

.textAreaDiv , .textAreaInput {

    display: flex;
    column-gap: 15px;
    align-items: center;
    padding: unset;
    width: 95%;

}

.textAreaInput {

    height: 50px;
    padding-right: 15px;

}

.textAreaDiv textarea {

    width: 85%;
    outline: none;
    border: 0px;
    margin-bottom: unset;

}

.textAreaInput input {

    border: 0px;
    margin-bottom: unset;

}

#done , #add {

    width: 68px;
    height: 34px;
    background-color: #0149AB;
    border: 0;
    color: white;
    border: solid 2px #0149AB;
    border-radius: 3px;
    cursor: pointer;
    padding: unset;
    margin-top: unset;
    transition: 0.3s;

}

#done:hover , #add:hover {

    color: #0149AB;
    background-color: #0090ff69;

}

#post-a-job-done-btn {
    background-color: #0e47a1;
    border: solid 2px #0e47a1;
    color: #fff;
    padding: 10px 50px;
    margin-top: 15px;
    border-radius: 5px;
    transition: .3s;
    cursor: pointer;
}
#post-a-job-done-btn:hover{
    border: solid 2px #0e47a1;
    background-color: #0090ff69;
    color: #0e47a1;
}

.postObjects {

    display: flex;
    width: 85%;
    font-size: smaller;
    margin: 0px 0px 12px 0px;

}

#middle-section {

    display: grid;
    place-items: center;
    /* height: fit-content; */

}

#listSkills {

    width: 91%;
    display: grid;
    row-gap: 5px;
    margin-bottom: 30px;

}

#listSkills .postObjects {

    width: fit-content;
    column-gap: 5px;

}

label { margin: 0px 0px 0px 13px; }

/* Tablets */
@media (min-width: 768px) and (max-width: 1023px) {

    .form-div{
        width: 80%;
    }

}

/* Mobile Phones */
@media (max-width: 767px) {
    
    .form-div{
        width: 85%;
        padding: 0;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }

    #post-a-job-done-btn {
        margin-top: 5px;
        width: 35%;
        padding: 8px;
    }
    
    #upper-section {

        display: grid;
        padding: 0px;

    }

    #done { margin: 0px 10px 0px 0px; }

}
/* ======================= */

.container{
    overflow: auto;
}

/* ======================== */
.job-div{
    /* display: none; */
    background-color: rgb(255, 255, 255);
    width: 70%;
    /* height: 300px; */
    margin: 20px auto;
    box-shadow: 0px 0px 18px -10px;
    border-radius: 15px;
    padding: 8px;
}

.job-div h1{
    padding: 20px 20px 0 20px;
    text-align: center;
    font-weight: 500;
    color: #0e47a1;
}

.job-div .jobTable {
    width: -webkit-fill-available;
    margin: 20px;
}

.jobTable th, td {
    border-bottom: 1px solid #ddd;
    padding: 8px;
    /* text-align: left; */
}

.jobTable th {
    background-color: #ffffff;
    color: #0e47a1;
    font-weight: 500;
    text-align: center;
}

.jobTable i, .jobTable button{
    background: none;
    border: none;
    font-size: 20px;
    padding: 5px;
    transition: .5s;
    border-radius: 5px;
}
.jobTable i:hover{
    background-color: #448cff73;
}

/* Tablets */
@media (min-width: 768px) and (max-width: 1023px) {

    .job-div{
        width: 80%;
        
    }

    .jobTable th, td {
        text-align: center;
    }

    .jobTable .action{
        display: flex;
    }
}

/* Mobile Phones */
@media (max-width: 767px) {

    .job-div{
        width: 100%;
        padding: 0;
        box-shadow: 0 0;
        
    }

    .jobTable th, td {
        text-align: center;
        
    }
    
    .job-div .jobTable {
        width: max-content;
    }
}


/* ================== */

.applicant-div{
    background-color: rgb(255, 255, 255);
    width: 70%;
    /* height: 300px; */
    margin: 20px auto;
    box-shadow: 0px 0px 18px -10px;
    border-radius: 15px;
    padding: 8px;
}

.applicant-div h1{
    padding: 20px 20px 0 20px;
    text-align: center;
    font-weight: 500;
    color: #0e47a1;
}

.applicant-div .applcTable{
    width: -webkit-fill-available;
    margin: 20px;
    /* text-align: center; */
}

.applcTable th {
    background-color: #ffffff;
    color: #0e47a1;
    font-weight: 500;
    text-align: center;
    padding: 8px;
}

.applcTable th, td {
    border-bottom: 1px solid #ddd;
    text-align: center;
}

.applcTable .rview{
    border: 2px solid #e41000;
    background-color: #ff8a8aa3;
    padding: 1px 10px;
    border-radius: 15px;
    color: #ca0f01;
}

.applcTable .pview{
    border: 2px solid #00129f;
    background-color: #3e7dffa3;
    padding: 1px;
    border-radius: 15px;
    color: #0b009a;
}

/* Tablets */
@media (min-width: 768px) and (max-width: 1023px) {

    .applicant-div{
        width: 80%;
    }
    .applicant-div .applcTable {
        width: max-content;
    }
}

/* Mobile Phones */
@media (max-width: 767px) {

    .applicant-div{
        width: 100%;
        padding: 0;
        box-shadow: 0 0;
    }

    .applicant-div .applcTable {
        width: max-content;
    }
}