
#seeker-signup {
    margin-left: 13%;
}

#left {

    width: 25%;
    float: left;

}

#left-content {

    width: 60%;
    height: 240px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px -7px;
    margin-left: 30%;
    background-color: white;
    margin-top: 48.5px;

}

#image {

    display: grid;
    place-items: center;

}

#image img {
    width: 95px;
}

#right {

    width: 75%;
    float: left;

}

#right-content {

    width: 67%;
    height: fit-content;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 0px 10px -7px;
    margin: 40px 0px 50px 2.5%;
    padding: 0px 0px 35px 0px;

}

#image {
    height: 115px;
}

#bold-p {

    font-size: 11px;
    font-weight: bold;
    margin-left: 10%;
    cursor: default;

}

#verified-img {

    width: 18px;
    float: left;

}

.acheivements {

    width: 90%;
    margin-top: 5px;
    margin-left: 4.5%;

}

.acheivements p {

    font-size: 8px;
    float: left;
    margin: 5px;
    color: lightslategrey;
    cursor: default;

}

#texts div:nth-child(4) img {
    margin-top: -3.5px;
}

#grow {

    color: #0149AB;
    padding-top: 35px;
    padding-left: 9.5%;
    font-size: 18px;
    cursor: default;
    width: fit-content;

}

#frm {

    margin-top: 20px;
    margin-left: 7.5%;

}

#frm-subdiv {

    width: 80%;
    display: flex;

}

.labels {

    font-size: 16px;
    margin-left: 2%;
    margin-top: 12px;
    cursor: default;
    width: fit-content;

}

.inputs {

    width: 80%;
    border: solid 1.5px;
    border-color: #0149AB;
    outline: none;
    border-radius: 17px;
    padding-left: 15px;
    padding-top: 8px;
    padding-bottom: 8px;

}

.inputs-half {

    width: 75%;
    border: solid 1.5px;
    border-color: #0149AB;
    outline: none;
    border-radius: 25px;
    padding-left: 15px;
    padding-top: 8px;
    padding-bottom: 8px;


}

#radio-div {

    display: flex;
    justify-content: space-evenly;
    width: 25%;
    margin: 0px 0px 0px 130px;
    align-items: baseline;

}

#radio-div input {

    position: relative;
    top: 3px;

}

#radio {

    font-size: 13px;
    margin-top: 40px;

}

#accepting {

    font-size: 9px;
    position: relative;
    top: 15px;
    padding: 0px 40px 0px 0px;

}

.color {

    color: #0149AB;
    cursor: pointer;

}

.sign-btn {

    background-color: #0149AB;
    color: white;
    padding: 10px 35px;
    border: solid 2px #0149AB;
    border-radius: 25px;
    font-size: 12px;
    cursor: pointer;
    margin: 5px 0px 0px 36%;
    position: relative;
    top: 15px;
    transition: 0.3s;

}

.sign-btn:hover {

    color: #0149AB;
    background-color: #0090ff69;

}

.sign-btn:not(:hover) {
    transition: 0.2s;
}

#radio {
    cursor: default;
}

#resume-div p { font-size: 13px; }
#choose-resume {

    padding: 7px 15px;
    border: solid 2px #0149AB;
    background-color: #0149AB;
    color: white;
    border-radius: 4px;
    transition: 0.3s;

}
#choose-resume:hover {

    background-color: #0090ff69;
    color: #0149AB;

}

@media (max-width : 767px) {

    /* EXTRA SMALL DEVICES */
    #right {
        width: 100%;
        display: grid;
        place-items: center;
    }

    #left-content {
        display: none;
    }

    #right-content {

        width: 90%;
        margin-left: 0;
        border-radius: 10px;
        height: 468px;

    }

    #seeker-signup {
        margin-left: 0;
    }

    #grow {

        font-size: 13px;
        padding-top: 28px;

    }

    .labels {

        font-size: 12px;
        margin-top: 8px;

    }

    #frm {
        margin-top: 10px;
    }

    .inputs-half { width: 95%; }

    #frm-subdiv div:nth-child(2) p { font-size: 11px; }

    #frm-subdiv { column-gap: 55px; }
    #accepting { font-size: 7.9px; }

    .sign-btn { 
        
        padding: 8px 20px;
        margin-left: 31%;
        font-size: 11px;
    
    }

    #choose-resume {

        padding: unset;
        font-size: 11.5px;
        width: 110px;
        height: 35px;

    }

    #radio-div { 
        
        margin: 0px; 
        width: 33%;
        position: relative;
        bottom: 4px;
    
    }

}

@media (min-width : 768px) and (max-width : 991px) {

    /* SMALL DEVICES */

    #left-content {
        display: none;
    }
    #right {

        width: 85%;
        display: grid;
        place-items: center;

    }
    #right-content {

        width: 90%;
        border-radius: 10px;
        margin-left: 0;

    }
    .sign-btn { 
        
        
        margin-left: 34%;
        font-size: 11px;
    
    }

    
}

@media (min-width : 992px) and (max-width : 1199px) {

    /* MIDDLE DEVICES */
    #left-content {

        width: 78%;
        height: 236px;
        margin-left: 22%;

    }

    #right-content {

        width: 75%;
    }

    .sign-btn { 
        
        
        margin-left: 33%;
    
    }
}