#footer {

    width: 100%;
    height: 125px;
    background-color: #ffcb05;
    border-radius: 20px 20px 0px 0px; 
    display: flex;
    align-items: center;
    justify-content: space-around;    

}

.name-copy {

    display: flex;
    align-items: center;
    column-gap: 25px;

}
.name-copy p {

    font-size: 13.5px;
    /* color: #ffcb05; */
    color: #19195f;

}

.name-copy h1 {

    /* color: #0149AB; */
    cursor: default;
    /* color: #ffcb05; */
    color: #19195f;

}
.name-copy #job { 
    
    /* color: #2DB4D4;  */
    /* color: #ffcb05; */
    color: #19195f;
    font-family: 'Montserrat', sans-serif;

}

.links {

    display: flex;
    column-gap: 8px;

}

.links i {  

    /* color: #ffcb05; */
    color: #19195f;
    cursor: pointer;
    font-size: 23px;
    transition: ease .2s;
    /* padding: 1px; */

}

.links i:hover { transform: scale(1.2); }

@media (max-width : 767px) {

    #footer , .name-copy {

        display: grid;
        place-items: center;

    }

    .name-copy h1 { font-size: x-large; }
    .name-copy p { font-size: 11px; }

    .links { 
        
        column-gap: 5px; 
        margin-top: -30px;
    
    }
    .links i { font-size: larger; }

}