#bg_image {

    background-image: url(../../Images/Seeker_home.jpg);
    background-size: 950px;
    background-repeat: no-repeat;
    height: 100%;
    position: absolute;
    z-index: -1;
    width: 99%;
    opacity: 0.8;
    margin-top: 15px;

}

#build {

    margin-left: 5%;
    margin-bottom: 0;
    color: #0149AB;
    font-size: 73px;
    font-weight: bolder;
    font-family: 'Montserrat', sans-serif;
    padding-top: 10px;

}

#with_gj {

    margin-left: 35.5%;
    margin-bottom: 0;
    margin-top: -8px;
    color: #0149AB;
    font-size: 73px;
    font-weight: bolder;
    font-family: 'Montserrat', sans-serif;

}

#job { color: #2DB4D4; }

#search_box {

    background: white;
    border-radius: 25px;
    width: 46%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 0px 0px 10px -7px;
    margin-top: 3.8%;
    padding: 3px;

}

#search_box i {

    color: #0149AB;
    cursor: pointer;

}

#search {

    outline: none;
    border: none;
    font-size: smaller;
    width: 443px;
    height: 39px;

}

#search_box button {

    width: 85px;
    height: 31px;
    border-radius: 20px;
    margin-left: 25px;
    background: #0149AB;
    border: solid 2px #0149AB;
    color: white;
    font-family: Poppins;
    transition: 0.3s;

}

#search_box button:hover {
    cursor: pointer;
    border: solid 2px #0149AB;
    color: #0149AB;
    background-color: #0090ff69;
}

@media (max-width : 767px) {

    /* EXTRA SMALL DEVICES */

    #bg_image { 
        
        background-size: 500px; 
        margin-top: 0px; 
    
    }

    #build {

        font-size: 30px;
        margin-left: 0px;
        position: relative;
        width: fit-content;
        left: 15%;
        padding-top: 5px;

    }

    #with_gj {

        font-size: 30px;
        margin-left: 0px;
        position: relative;
        width: fit-content;
        left: 40%;
        margin-top: 3px;

    }

    #search_box {

        width: 300px;
        padding: 0;
        margin-top: 6%;

    }

    #search { width: 195px; }

    #search_box button {

        margin-left: 0px;
        font-size: 10.8px;
        width: 70px;

    }

    #search_box i { margin-left: 3px; }

}

@media (min-width : 768px) and (max-width : 991px) {

    /* SMALL DEVICES */

    #bg_image { background-size: 765px; }

    #build {

        font-size: 50px;
        position: relative;
        width: fit-content;
        left: 10%;

    }

    #with_gj {

        font-size: 50px;
        margin-left: 0px;
        position: relative;
        width: fit-content;
        left: 40%;
        margin-top: 3px;

    }

    #search_box { 

        padding: 0; 
        width: 355px;

    }

    #search { width: 230px; }

    #search_box button {

        margin-left: 0px;
        font-size: 12px;
        width: 80px;

    }

    #search_box i { margin-left: 3px; }

}

@media (min-width : 992px) and (max-width : 1199px) {

    /* MIDDLE DEVICES */

    #build {

        position: relative;
        width: fit-content;
        left: 7%;

    }

    #with_gj {

        position: relative;
        width: fit-content;
        left: 2%;
        margin-top: 3px;

    }

    #search_box { 
        
        padding: 0; 
        width: 483px;

    }

    #search { width: 358px; }

    #search_box button {

        margin-left: 0px;
        font-size: 12px;
        width: 85px;

    }

    #search_box i { margin-left: 3px; }

}